@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    font-family: 'Monserrat', sans-serif;
}
a {
    text-decoration: none;
}
.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Hero Section  */
#hero {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
#hero h1 {
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: white;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: crimson;
    animation: text_reveal_box 1s ease;
    animation-delay: 1s;
}

#hero .cta {
    display: inline-block;
    padding: 10px 30px;
    color: white;
    background-color: transparent;
    border: 2px solid crimson;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 36px;
    transition: .3s ease;
    transition-property: background-color, color;
}
#hero .cta:hover {
    color: white;
    background-color: crimson;
}
/* End Hero Section  */

/*Keyframe*/
@keyframes text_reveal_box{
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
    
/*End Keyframe*/